* {
    font-family: Ubuntu;
}

.navbar,
#footer {
    background-color: #212529;
}

.nav-link,
.navbar-brand {
    color: #FFF;
    margin-left: 15px;
}

.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover {
    color: #CECECE;
}

.navbar-toggler {
    color: #FFF;
    font-size: 1.875rem;
}

.dropdown-menu {
    background-color: #212529;
}

.dropdown-item {
    color: #FFF;
}

.rodape a {
    color: #FFF;
}

.rodape a:hover {
    color: #CECECE;
}

.btnTop {
	color: #aaa;
	background-color: transparent;
}

.btnTop:hover {
	color: white;
}

.btnTop:focus {
    box-shadow: none;
}